body {
  background-size: cover;
  background-repeat:no-repeat;
  color: #ddd;
}

.backgroundImage {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(ellipse at top left, rgb(82, 0, 0), #000, 80%, #000 100%);
}

html {
  background-color: #000;
}

.linkStyle {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.appBar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.logoStyle {
  max-height: 90px;
}

.menuButton {
  text-transform: none !important;
  margin-left: 10px !important;
}

.connectBtn {
  background-color: #b80000 !important;
  color: #fff !important;
  font-weight: bold !important;
  padding-left: 20px !important;
  text-transform: none !important;
  padding-right: 20px !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.divider {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 15px;
  background: radial-gradient(ellipse at left, rgb(255, 0, 0), #000 60%, #000 100%);
}

/* Home Page */

.mainHeader {
  padding-top: 130px;
  max-width: 700px;
  margin: auto;
  font-size: 3.2em;
  text-align: center;
}

.centered {
  text-align: center;
}


#background-video {
  margin-top: 120px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  height: 650px;
  z-index: -1;
  overflow: hidden !important;
}

.gridImage {
  max-width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.gridBox {
  border-radius: 50px;
  margin: 40px;
  background-color: #111;
  padding-bottom: 20px;
}

.subHeader {
  padding: 10px;
  padding-left: 25px;
  text-transform: uppercase;
}

.smallDivider {
  height: 2px;
  background-color: #444;
  margin-left: 25px;
  margin-right: 25px;
}

.paddedBox {
  padding: 20px;
}

.arrowIcon {
  max-width: 10px;
  max-height: 10px;
}


.whiteBox {
  margin-top: 50px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px -10px 10px 2px #fff9;
}

.elip {
  background: radial-gradient(ellipse at top center, rgb(82, 0, 0), #000, 80%, #000 100%);
  height: 5px;
  margin-bottom: 20px;
}

/* Menu Styling */
.MuiMenu-list {
  background-color: #000;
  border-radius: 0px;
  color: #ccc;
  min-width: 180px;
}

.MuiMenuItem-root {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.MuiList-root li:hover {
  background-color: #b80000;
  color: #fff;
  transition: 0.5s;
}

.circledPic {
  border-radius: 100%;
  max-width: 200px;

}

.circleP {
  text-align: center;
  padding-bottom: 30px;
}